# Ignore development-only files and directories
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs

# Keep the build output and the node_modules directory
# Remove or comment out these lines
# out/**
# node_modules/**
# **/onnxruntime-node/**
# **/sharp/**

# Ignore the following build-related files
**/*.map
**/*.ts
**/.vscode-test.*